<ion-header>
  <ion-toolbar>
	  <ion-buttons slot="start">
		  <ion-back-button defaultHref="/servicios/dinamico-pedidos"></ion-back-button>
	  </ion-buttons>
	  <ion-title style="position: absolute; text-align: center; top: 0; left: 0; width: 100%; height: 100%">Pedido {{pedido.nombre}}</ion-title>
	  <ion-buttons slot="end">
		  <ion-button color="danger" (click)="removerPedido()">
			  <ion-icon name="trash"></ion-icon>
		  </ion-button>
	  </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid class="ion-no-padding">
		<ion-row>
			<ion-col>
			<ion-card>
				<ion-card-content>
					<ion-row>
						<h1>Fecha: </h1>
						<h1 style="font-size: 1.2rem; margin: auto 10px">{{pedido.fecha}}</h1>
					</ion-row>
					<ion-row>
						<h1>Nombre: </h1>
						<h1 style="font-size: 1.2rem; margin: auto 10px">{{pedido.nombre}}</h1>
					</ion-row>
					<ion-row>
						<h1>Barrio: </h1>
						<h1 style="font-size: 1.2rem; margin: auto 10px">{{pedido.barrio}}</h1>
					</ion-row>
					<ion-row style="margin-top: 8px">
				<h1>Direccion: </h1>
				<h1 style="font-size: 1.2rem; margin: auto 10px">{{pedido.direccion}}</h1>
			</ion-row>
				<ion-row style="margin-top: 10px">
				<h1>Teléfono: {{pedido.telefono}}</h1>
			</ion-row>
			<ion-row style="margin-top: 10px">
				<h1>Productos: {{pedido.productos}}</h1>
			</ion-row>
			</ion-card-content>
			</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-row>
		<ion-col>
			<ion-card>
				<ion-card-content>
					<ion-card-title style="text-align: center">Comentarios</ion-card-title>
					<ion-row style="margin-top: 10px">
						<ion-list>{{pedido.comentarios}}</ion-list>
					</ion-row>
				</ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>
	
</ion-content>
