ion-content {
    --background: #0E413C;
	
}
ion-toolbar {
    --background: #0E413C;
}
ion-card {
    --background: #F1F1F1;
	height: 90.5vh;
	margin: 0;

	
	
}
ion-button {
	color: #ffffff;
	height: 80px;
	font-size: 25px;
}
