<ion-header>
</ion-header>

<ion-content>
	<ion-img style="margin: 50px auto; width: 180px; height: 180px;" src="https://i.imgur.com/1aAD8M5.jpg"></ion-img>
	<h1 style="text-align:center; font-size: 50px; color: #0E413C;">DINAMICO</h1>
	<ion-row class="no-padding">
		<ion-col>
			
			<ion-card>
				<ion-card-content>
					<ion-card-title style="text-align: center; color: #0E413C">
						¿Qué es Dinámico?
</ion-card-title>
<ion-row>
	<ion-col>
		<ion-text>
			<h2 style="color: black; text-align: center;">
	Aplicación basada para brindar soluciones, trabajos, necesidades tanto de usuarios<br> como empresas.
	Garantizamos seriedad y compromiso por parte del usuario y de la empresa para garantizar confiabilidad y tranquilidad en ambas partes.
	</h2>
</ion-text>
</ion-col>
</ion-row>

</ion-card-content>
</ion-card>
</ion-col>
</ion-row>


	


</ion-content>
<ion-footer><ion-button expand="full" [routerLink]="['/login']">Empieza a utilizar Dinamico</ion-button></ion-footer>
