<ion-header>
  <ion-toolbar>
	<ion-buttons slot="start">
		<ion-menu-button style="color: White;"></ion-menu-button>
	  </ion-buttons>
    <ion-title style="position: absolute; text-align: center; top: 0; left: 0; width: 100%; height: 100%">Pedidos Borrados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-row>
		<ion-col class="ion-no-padding">
	<ion-list style="background-color: #ffffff">
	<ion-item style="--background: #ffffff; color: black" *ngFor="let place of pedidosService.pedidoborrado; let i = index;">
	<ion-row>
		<ion-label>{{place.pedidoborrado.i}} {{place.pedidoborrado.nombre}} {{place.pedidoborrado.barrio}}</ion-label>
	</ion-row>
</ion-item>
	
</ion-list>
</ion-col>
		
</ion-row>
</ion-content>
