ion-toolbar {
    --background: #0E413C;
}
ion-title {
	color: White;
}
ion-back-button {
	color: white;
}
ion-card{
	height: 95%;
	
}

ion-textarea{
	font-size: 18px;
}

#fechaTexto{
	font-size: 20px;
	font-weight: bold;
}
ion-content{

    --ion-background-color:#ffff;
}
ion-fab-button {
	--background: #0E413C;
}
