<ion-header>
	<ion-toolbar style="--background: #0E413C">
		<ion-title style="color: White; text-align: center;">Perfil</ion-title>
		<ion-buttons slot="start">
			<ion-back-button style="color: white;"></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-row>
		<ion-col>
			<h1 style="text-align: center;">Información personal</h1>
			<ion-card>
				<ion-card-content>
					<ion-row>
						<h1>Nombre: </h1>
						<h1 style="font-size: 1.1rem; margin: auto 10px"></h1>
					</ion-row>
					<br>
					<ion-row>
						<h1>Apellido: </h1>
						<h1 style="font-size: 1.1rem; margin: auto 10px"></h1>
					</ion-row>
					<br>
					<ion-row>
						<h1>Dirección: </h1>
						<h1 style="font-size: 1.1rem; margin: auto 10px"></h1>
					</ion-row>
					<br>
					<ion-row>
						<h1>Número de apto.(opcional): </h1>
						<h1 style="font-size: 1.1rem; margin: auto 10px"></h1>
					</ion-row>
					<br>
					<ion-row>
						<h1>Teléfono: </h1>
						<h1 style="font-size: 1.1rem; margin: auto 10px"></h1>
					</ion-row>
					<br>

				</ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>

</ion-content>