<ion-header>
	<ion-toolbar style="text-align: right; color: white; font-size: 15px;">
		<ion-buttons slot="start">
			<ion-menu-button style="color: White;"></ion-menu-button>
		</ion-buttons>En línea
		<ion-icon style="color: white" name="person-circle-outline" style="display: inline-block;
	  font-size: 33px; vertical-align: middle; margin-right: 10px; margin-left: 5px; color:white"
			[routerLink]="['/perfil-u']"></ion-icon>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen>
	<h1 style="text-align:center; color: #000;">Servicios Disponibles</h1>
	<ion-row>
		<ion-col>
			<ion-card style="margin-top: 10px; --background: #F1F1F1" [routerLink]="['/fletes']">
				<img
					src="https://img.freepik.com/free-photo/fast-delivery-by-scooter-bike-van-with-mobile-ecommerce-concept-online-food-shopping-crate-box-order-with-route-map-webpage-app-design-yellow-blue-background-perspective-3d-render_156429-3119.jpg?w=1380" />
				<ion-card-header>
					<ion-card-title style="color: black">Dinamico Fletes</ion-card-title>
				</ion-card-header>
				<ion-card-content>
					Dependiendo a donde se dirigan las personas podés comunicarte para solicitar el traslado de algún objeto.
					También podes crear una publicación solicitando un servicio de traslado para que se comuniquen contigo.
				</ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			<ion-card style="margin-top: 10px; --background: #F1F1F1"
				[routerLink]="['/menu/servicios/dinamico-pedidos']">
				<img src="https://i.imgur.com/VJWRnhp.jpg" />
				<ion-card-header>
					<ion-card-title style="color: black">Dinamico Pedidos</ion-card-title>
				</ion-card-header>
				<ion-card-content>
					Este servicio te permite agregar / organizar tus pedidos
					para entregarlos de manera eficiente.
				</ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			<ion-card style="margin-top: 10px; --background: #F1F1F1">
				<img src="https://i.imgur.com/LT9X39N.jpg" />
				<ion-card-header>
					<ion-card-title style="color: black">Dinamico Cadetería<br>(EN DESARROLLO)</ion-card-title>
				</ion-card-header>
				<ion-card-content>
					Este servicio te permite solicitar un servicio de cadetería.
					Podrás solicitar servicios desde una moto, auto o camión.
				</ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			<ion-card style="margin-top: 10px; --background: #F1F1F1">
				<img src="https://i.imgur.com/gHkvBFo.jpg" />
				<ion-card-header>
					<ion-card-title style="color: black">Dinamico Stocks - para empresas<br>(EN DESARROLLO)
					</ion-card-title>
				</ion-card-header>
				<ion-card-content>
					Este servicio te permite tener un registro de tu stock
					en tiempo real.
				</ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>
</ion-content>