<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/menu/servicios"></ion-back-button>
		</ion-buttons>
		<ion-title style="position: absolute; text-align: center; top: 0; left: 0; width: 100%; height: 100%">Dinamico Pedidos</ion-title>
	</ion-toolbar>
  </ion-header>
  
  <ion-content>
<ion-row>
		<ion-col class="ion-no-padding">
	<ion-list style="background-color: #ffffff">
		<ion-item *ngFor="let place of pedidos">
			{{place.id}} - {{place.nombre}} - {{place.barrio}}
			<ion-col>
				<ion-grid>
					<ion-row>
						<ion-col class="ion-text-center">
							<ion-button style="--background: #2dd36f; --border-radius: 5px" expand="block" class="ion-text-wrap min-max-width"><ion-icon name="call"></ion-icon></ion-button>
						</ion-col>
						<ion-col class="ion-text-center">
							<ion-button expand="block" class="ion-text-wrap min-max-width"><ion-icon name="navigate"></ion-icon></ion-button>
						</ion-col>
						<ion-col class="ion-text-center">
							<ion-button style="text-transform: none" expand="block" class="ion-text-wrap min-max-width" [routerLink]="['/menu/servicios/dinamico-pedidos', place.id]">Detalle</ion-button>
						</ion-col>
					</ion-row>
					
				</ion-grid>
				
				<style>
					.min-max-width {
						max-width: 200px;
						margin: 0 auto;
					}
				</style>
			</ion-col>
		</ion-item>
	</ion-list>
</ion-col>
</ion-row>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
	<ion-fab-button color="danger" (click)="AgrNuevoPedido()">
		<ion-icon name="add">
		</ion-icon>
	</ion-fab-button>
</ion-fab>

  </ion-content>