ion-toolbar {
    --color: #ffffff;
    --background: #F25C05;
}
ion-card{
	height: 95%;
}

ion-textarea{
	font-size: 18px;
}

#fechaTexto{
	font-size: 20px;
	font-weight: bold;
}
ion-content{

    --ion-background-color:#ffff;
}
