<ion-header>
  <ion-toolbar style="--background: #0e413c">
    <ion-title
      style="
        color: White;
        text-align: left;
        position: absolute;
        top: 0;
        left: 40px;
        width: 100%;
        height: 100%;
      "
      >Dinamico</ion-title
    >
    <ion-buttons slot="start">
      <ion-back-button
        style="color: white"
        defaultHref="/menu/servicios"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <h2 style="text-align: center">
        Documentación requerida para prestar servicios
      </h2>
      <ion-card
        style="border-radius: 0px !important"
        [routerLink]="['/menu/documentos/cedulafrente']"
      >
        <ion-item lines="none" style="margin-top: 10px; margin-bottom: 10px">
          C.I
          <ion-icon
            style="margin-left: 280px; color: black"
            name="chevron-forward-circle-outline"
          ></ion-icon>
        </ion-item>
      </ion-card>
      <ion-card
        style="border-radius: 0px !important"
        [routerLink]="['/menu/documentos/ceduladorso']"
      >
        <ion-item lines="none" style="margin-top: 10px; margin-bottom: 10px">
          Reverso de C.I
          <ion-icon
            style="margin-left: 195px; color: black"
            name="chevron-forward-circle-outline"
          ></ion-icon>
        </ion-item>
      </ion-card>
      <ion-card
        style="border-radius: 0px !important"
        [routerLink]="['/menu/documentos/licenciafrente']"
      >
        <ion-item lines="none" style="margin-top: 10px; margin-bottom: 10px">
          Licencia de Conducir
          <ion-icon
            style="margin-left: 152px; color: black"
            name="chevron-forward-circle-outline"
          ></ion-icon>
        </ion-item>
      </ion-card>

      <ion-card
        style="border-radius: 0px !important"
        [routerLink]="['/menu/documentos/licenciadorso']"
      >
        <ion-item lines="none" style="margin-top: 10px; margin-bottom: 10px">
          Reverso de la Licencia de<br />Conducir
          <ion-icon
            style="margin-left: 118px; color: black"
            name="chevron-forward-circle-outline"
          ></ion-icon>
        </ion-item>
      </ion-card>
      <ion-card style="border-radius: 0px !important">
        <ion-item lines="none" style="margin-top: 10px; margin-bottom: 10px">
          Foto de Perfil
          <ion-icon
            style="margin-left: 208px; color: black"
            name="chevron-forward-circle-outline"
          ></ion-icon>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
