ion-toolbar {
    --color: #ffffff;
    --background: #0E413C;
}
ion-title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
  }
  ion-content{

    --ion-background-color:#ffff;
}
ion-card {
	--background: #ffff;
}
ion-item{
	--background: #ffffff;
	color: black;
}